# Application
APP_ENV=dev
LOG_LEVEL=INFO

# AWS/CDK
AWS_REGION=us-east-1
DEV_ACCOUNT_ID=111111111111
CDK_DEFAULT_ACCOUNT=111111111111
CDK_DEFAULT_REGION=us-east-1

# Database
DB_URL=postgresql+psycopg://postgres:postgres@localhost:5432/event_pipeline

